<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" type="text/css" href="/static/ext-3.4.0/resources/css/ext-all.css">
        <script type="text/javascript" src="/static/ext-3.4.0/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="/static/ext-3.4.0/ext-all-debug.js"></script>

        <title>{% block title %}My amazing site{% endblock %}</title>

        {% block head %}{% endblock %}

    </head>

    <body>

        {% block content %}{% endblock %}

    </body>

</html>